.profile__edit-button {
  margin: 0 0 9px 0;
  padding: 0;
  width: 24px;
  height: 24px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid white;
  background-image: url(../../../images/edit-icon.svg);
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: center;
  align-self: end;
  grid-area: button;

}

@media screen and (max-width: 679px) {
  .profile__edit-button {

    margin: 0 0 4px 0;
    width: 18px;
    height: 18px;
  }
}
