.profile {
  margin: 0 auto;
  padding: 40px 0 0 0;
  max-width: 880px;
  display: flex;
  gap: 30px;
  align-items: center;
}

@media screen and (max-width: 967px) {
  .profile {
    padding: 40px 48px 0 48px;
  }
}

@media screen and (max-width: 679px) {
  .profile {
    flex-direction: column;
    padding: 36px 20px 0 20px;
  }
}
