.popup__close-button {
  margin: 0;
  width: 32px;
  height: 32px;
  background-image: url(../../../images/close-icon.svg);
  background-repeat: no-repeat;
  background-size: 32px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  position: absolute;
  right: -40px;
  top: -40px;
}

@media screen and (max-width: 510px) {
  .popup__close-button{
    right: 0;
  }
}
