.elements__element {
  margin: 0;
  padding: 0;
  max-width: 280px;
  height: 360px;
  border-radius: 10px;
  place-self: center stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 967px) {
  .elements__element {
    max-width: 432px;
  }
}

@media screen and (max-width: 679px) {
  .elements__element {
    max-width: calc(100vw - 40px);
  }
}
